

#logo_img{
  height: 90px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out ;
  -ms-transition: all 1s ease-in-out ;
  -o-transition: all 1s ease-in-out ;
  transition: all 1s ease-in-out ;
}
.shrink
{
   height:70px !important;/*change the size here*/
}

.nav-link{
  font-size: 15pt !important;
  font-weight: bold;
  margin-left: 10px;
  color: #000 !important;
}

.nav-item :hover{
  background-color: #555;
  color: #fff !important;
  border-radius: 15px;
  /* font-size: 15pt !important;
  font-weight: bold;
  margin-left: 10px; */
}

.contact {
  background-color: #777;
  color: #fff;
}

/* ==============footer=================== */
footer{
  padding: 10px;
  background-color: #555;
  color: #fff;

}


/* ==================== mobile =============== */
@media only screen and (max-width: 600px) {
  #logo_img {
    height: 75px;
  }
  
}
